.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}
.newsletter {
  background-color: #03054e;
  /* max-width: 1528px; */
  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.confirmationTitle,
.confirmationText {
  color: #fff;
}
.label {
  color: #fff;
  font-size: 26px;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
.buttonContainer {
  padding-top: 0px;
}
.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
.skuSelectorContainer {
  margin: 1rem 0;
}
.productBrandNameLink--pdpMarca {
  font-weight: 600;
  color: #9c9c9c;
}
.productBrandNameLink--brandVitrina{
  font-size: .875rem;
  color: #9c9c9c;
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: fl;
}
.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}
.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}
.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 80%;
}
.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
.showMoreButton {
  padding: .4rem;
  color: #676767;
  background-color: #fff;
  border: 1px solid #676767;
  border-radius: 3px;
  font-size: .9rem;
}
.showMoreButton:hover {
  color: #000;
  border: 1px solid #000;
}
.imageElement--imgCategorias{
  border-radius: 8px;
}
.shippingContainer :global(.vtex-button){
  background: #fff;
  color: #4DA9E4;
}
.shareContainer {
  margin-top: 1.25rem;
}
.imageElement--team{
  height: fit-content;
  margin: auto;
}
.logoContainer {
  padding: 0px;
}
.showMoreButton {
  color: #039;
  border-width: 0px;
  text-decoration: underline;
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 40px;
  }
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
@media (min-width: 1028px){
  .productDescriptionTitle {
    font-size: 1.75rem;
    font-weight: 700;
  }
  .shippingContainer :global(.vtex-address-form__state),
  .shippingContainer :global(.vtex-address-form__neighborhood){
    width: 48%;
    display: inline-block;
  }
  .shippingContainer :global(.vtex-address-form__state){
    margin-right: 4%;
  }

}
@media (max-width: 1028px){
  .imageElementLink--logoMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageElement--logoMarcas{
    width: 60%;
  }
  .productDescriptionTitle {
    font-size: 1.35rem;
    font-weight: 600;
  }
}
