.shelfContentContainer {
    margin-left: 5%;
    margin-right: 5%;
}
.title{
    color: #434343;
    font-weight: 600;
}
@media (max-width: 768px){
    .shelfContentContainer {
        margin-left: 2%;
        margin-right: 2%;
    }   
    .title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem .5rem;
    }
}