.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.inlineContainer {
  margin-left: 0rem;
}
.star--filled {
  color: #FFB100;
}
.star--empty {
  color: #c6c6c6;
}
.container {
  padding: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 768px){
  .container {
    padding: 0px;
  }
}