.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 .5rem;
}
.flexRow--rowProductInformation{
  margin-left: 5%;
  margin-right: 5%;
}
.flexRow--rowDescripcionPdp{
  margin-left: 5%;
  margin-right: 5%;  
}
.flexRowContent--menu-link {
  background-color: #303B46;
  color: #fff;
}
.flexRowContent--main-header {
  background-color: #fff;
}
.flexRowContent--main-header-mobile {
  align-items: center;
  padding: .4rem .5rem;
  background-color: #fff;
}
.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}
.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #03054e;;
  padding: 1.4rem 0px;
}
.flexRow--deals .stretchChildrenWidth {
  align-items: center;
  line-height: 0;
}
.flexRow--deals .flexCol {
  align-items: center;
}
.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}
.flexCol--productCountCol {
  align-items: flex-start;
}
.flexCol--orderByCol {
  align-items: flex-end;
}
.flexCol--orderByMobileCol {
  width: 42%;
}
.flexCol--filterMobileCol {
  width: 38%;
}
.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}
.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}
.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}
.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
.flexRow--contact {
  max-width: 80%;
  margin: auto;
}
.flexRowContent--contact :global(.vtex-input__label),
.flexRowContent--contact :global(.vtex-textarea__label) {
  font-size: 1rem;
  color: #3f3f40;
}
.flexRowContent--contact :global(.vtex-input),
.flexRowContent--contact :global(.vtex-textarea) {
  display: block;
  margin-bottom: 1rem;
}
.flexRow--rowFooter{
  width: 90%;
  margin: auto;
}
.flexRowContent--rowFooter{
  border-top: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
}
.flexRowContent--rowBtnComprarPdp :global(.vtex-button){
  padding: .35rem .5rem;
  background-color: #ad2e33;
  border-color: #ad2e33;
  letter-spacing: 2px;
  font-weight: 500;
  transition: letter-spacing 300ms ease;
}
.flexRowContent--rowBtnComprarPdp :global(.vtex-button):hover{
  letter-spacing: 3px;
}
.flexRow--rowResultPdc{
  margin: .5rem 2.5%;
}
.flexRow--rowTitleSearch{
  margin: 0 2.5%;
}
.flexRow--rowSearchBarMob{
  padding: 0 1rem;
}
@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1028px) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
  .flexRow--rowSliderMarcas,
  .flexRow--rowVitrina{
    margin: 0 4%;
  }
  .flexRow--rowCategorias{
    margin-left: 4%;
    margin-right: 4%;
  }
  .flexRowContent--rowCategorias{
    grid-gap:20px;
  }
  .flexCol--colCategoria{
    position: relative;
  }
  .flexColChild :nth-child(even){
    position: absolute;
    top: 60%;
    right: 10%;
  }
}
@media (max-width: 1028px){
  .flexRow--rowCategorias,
  .flexRow--rowSliderMarcas,
  .flexRow--rowVitrina{
    margin: 0 2%;
  }
}