.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}
.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}
.element :global(.vtex-button){
  background-color: #fff;
  border-color: #ad2e33;
  color: #ad2e33;
  font-size: .9rem;
  transition: letter-spacing 200ms ease;
}
.element :global(.vtex-button):hover{
  letter-spacing: 2px;
}
.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.brandName {
  font-weight: 600;
  font-size: 16px;
  color: #2E2E2E;
}
.container {
  text-align: start;
}
.imageContainer {
  text-align: center;
}
.image {
  border-radius: 0.25rem;
}
