.inlineContainer {
  margin-left: 0rem;
}
.star--filled {
  color: #FFB100;
}
.star--empty {
  color: #c6c6c6;
}
.container {
  max-width: 100%;
  padding: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
.loginLink {
  padding: 7px 0px;
}
.reviewsHeading {
  border-width: 0px;
}
@media (max-width: 768px){
  .container {
    padding: 0px;
  }
}